<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/mvp.css">

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.9/sweetalert2.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.9/sweetalert2.min.js"></script>

    <title>Nestjs Example</title>
    <style>
        .link{
            cursor: pointer;
        }
        .success{
            color: #5c9a4e;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <article id="main">
        <header>
           <h1>Welcome to the Coding-Challenge</h1>
           <span>
               <p>Do you want to login and set an Profile-Image?<a @click.prevent="openLogin" class="link"> Click here</a></p>
           </span>
        </header>

        <section v-if="isOpen">
            <form id="signup">
                <a @click.prevent="opLogin" class="link">Already have an account? Click here</a>
                <h2>SignUp</h2>
                <label for="username">Username</label>
                <input type="text" v-model="uname" />
                <label for="firstname">Firstname</label>
                <input type="text" v-model="fname" />
                <label for="lastname">Lastname</label>
                <input type="text" v-model="lname" />
                <label for="email">E-Mail</label>
                <input type="email" v-model="mail" />
                <label for="password">Password</label>
                <input type="password" v-model="pass" />
                <button @click.prevent="sendData">SignUp</button><br>
                <a @click.prevent="closeLogin" class="link">Close</a>
            </form>
        </section>

        <section v-if="isLogin">
            <form id="login">
                <a @click.prevent="openLogin" class="link">Click here for an new account</a>
                <p v-if="logMessage" class="success">
                    You are successfully registered. Now you can login to your account. Have fun!
                </p>
                <h2>Login</h2>
                <label for="username">Username</label>
                <input type="username" v-model="user" />
                <label for="password">Password</label>
                <input type="password" v-model="pass" />
                <button @click.prevent="sendLogin">Login</button><br>
                <a @click.prevent="closeLogin" class="link">Close</a>
            </form>
        </section>

    </article>

    <script>
        "use strict"
        new Vue({
            el: '#main', 
            data(){
                return{
                   isOpen: false,
                   isLogin: false,
                   logMessage: false,

                   //data
                   uname: '',
                   fname: '',
                   lname: '',
                   user: '',
                   mail: '',
                   pass: '',
                }
            },
    
            methods: {
                openLogin(){
                    this.isOpen= true;
                    this.isLogin= false;
                },

                closeLogin(){
                    this.isOpen= false;
                    this.isLogin= false;
                },

                opLogin(){
                    this.isOpen= false;
                    this.isLogin= true;
                },


                //signup
               async sendData(){
                   if(this.uname== '' || this.fname== '' || this.lname== '' || this.mail== '' || this.pass== ''){
                    swal({
                         title: 'Error',
                         html: 'You have to fill out all the fields!',
                         confirmButtonText: 'OK',
                         confirmButtonColor: '#D90429',
                            });
                   }else{
                    const username= this.uname;
                    const firstname= this.fname;
                    const lastname= this.lname;
                    const email= this.mail;
                    const password= this.pass;

                    const data= {username, firstname, lastname, email, password};
                    const options = {
                           method:'POST',
                           headers:{'Content-Type': 'application/json'},
                           body: JSON.stringify(data)
                          };
                   await fetch('/auth/signup', options).then((res) => {
                        if (res.status === 200 || res.status === 201) {
                            this.isOpen= false;
                            window.location.href= `/profile/${username}`;
                        }
                        else{
                            swal({
                                title: 'Error',
                                html: 'You did something wrong! Probably the username is already in use.',
                                confirmButtonText: 'OK',
                                confirmButtonColor: '#D90429',
                            });//sweetalert
                        };//if res status
                    });//fetch
                  };//all fields required if
                }, //getData function

                 
                //login
                 async sendLogin(){
                   if(this.user== '' || this.pass== ''){
                    swal({
                         title: 'Error',
                         html: 'You have to fill out all the fields!',
                         confirmButtonText: 'OK',
                         confirmButtonColor: '#D90429',
                            });
                   }else{
                    const username= this.user;
                    const password= this.pass;

                    const data= {username, password};
                    const options = {
                           method:'POST',
                           headers:{'Content-Type': 'application/json'},
                           body: JSON.stringify(data)
                          };
                   await fetch('/auth/login', options).then((res) => {
                        if (res.status === 200 || res.status === 201) {
                            this.isOpen= false;
                            this.logMessage= false;
                            window.location.href= `/profile/${username}`;
                        }
                        else{
                            swal({
                                title: 'Error',
                                html: 'You did something wrong! Wrong username or password.',
                                confirmButtonText: 'OK',
                                confirmButtonColor: '#D90429',
                            });//sweetalert
                        };//if res status
                    });//fetch
                  };//all fields required if
                }, //getData function


            },//methods



        });
    
       </script>
</body>
</html>