<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/mvp.css">

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.9/sweetalert2.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.9/sweetalert2.min.js"></script>

    <title>Your Profile</title>
    <style>
        .link{
            cursor: pointer;
        }
    </style>
</head>
<body>

    <article id="proMain">
        <a @click.prevent="logout" class="link">Logout</a>
        <h1>Hello from profile</h1>


        <section class="fileupload">
              <form action="/files/upload" enctype="multipart/form-data" method="POST">
                <h2 class="profile-h2">Upload image</h2>
                <input type="file" name="file" accept="image/png, image/jpeg" style="width: 200px;" required /><br>
                <button type="submit" class="proBtn">Upload</button>
              </form>
        </section>
    </article>
    

    <script>
       new Vue({
        el: '#proMain',

        data(){
           return{
              status: 0,
           }
        },

        
        
            methods: {
               async logout(){
                    console.log('Logout');
                    const log= 'logout';
                    const data= {log};
                    const options = {
                           method:'POST',
                           headers:{'Content-Type': 'application/json'},
                           body: JSON.stringify(data)
                          };
                   await fetch('/auth/logout', options).then((res, err)=>{
                       if(res.status === 200 || res.status === 201){
                           window.location.href= '/';
                       }else if(err){
                           console.log(err);
                       }
                   });
                },//function

                 mess(){
                     this.success= true;
                 }

            },
       });
    </script>
</body>
</html>